
#kiwi .controlbox .input_tools .active {
    background-color: #dedede;
    display: inline;
    margin: 0 1em;
}
#kiwi {
    background: none repeat scroll 0 0 #ffffff !important;
}
#kiwi .memberlists {
    margin-bottom: 70px;
}
#kiwi .chat-extensions {
    border-top: 1px solid #8a8a8a;
    bottom: 0;
    height: 70px;
    padding-top: 2px;
    position: absolute;
    width: 100%;
}
#kiwi #ext-photo {
    cursor: pointer;
    float: left;
    padding-left: 10px;
    text-align: center;
    width: 50%;
}
#kiwi #ext-webcam {
    cursor: pointer;
    float: left;
    padding-left: 10px;
    text-align: center;
    width: 50%;
}
#kiwi .ext-webcam img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.webcam_nick_subscriber {
    float: right;
}
.meicon {
    min-width: 20px;
}
#kiwi .ext-webcam span {
    clear: both;
    font-weight: bold;
}
#kiwi .memberlists {
    overflow-x: hidden;
}
.user-tooltip {
    font-size: 1.1em !important;
    padding: 2px 6px !important;
}
#kiwi {
    background: none repeat scroll 0 0 #fff;
}
#kiwi .right-menu-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px !important;
    margin-top: 5px;
    padding: 5px;
}
#kiwi .left-menu-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px !important;
    height: 28px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
}
#kiwi .main {
    margin-top: 10px;
}
#kiwi .toolbar .app_tools {
    width: 100px !important;
}
#kiwi .toolbar .tabs {
    height: auto;
}
.panellist b {
    float: right;
    margin-left: 10px;
}
.panellist li {
    cursor: pointer;
}
.panellist .active {
}
#kiwi .left-menu-btn i {
    margin-left: 9px;
}
.part {
    float: right;
}
#kiwi .menuCounters {
    color: #fff;
    display: inline-block;
    margin-left: 10px;
}
#kiwi .tabs ul {
    display: inline-block;
    float: left;
}
#kiwi .applets li:after {
    border-bottom-style: none;
    border-bottom-width: 0;
}
.right-menu li {
    cursor: pointer;
}