#kiwi .controlbox .input_tools .active { margin:0 1em; display:inline; background-color: #DEDEDE}

#kiwi .memberlists{
    margin-bottom: 70px;
}

#kiwi .chat-extensions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    border-top: 1px solid #8A8A8A;
    padding-top: 2px;
}

#kiwi #ext-webcam {
    cursor:pointer; cursor: hand;
    width: 50%;
    text-align: center;
    float:left;
    padding-left: 10px;
}


#kiwi .ext-webcam img{
    display: block;
    margin-left: auto;
    margin-right: auto

}


#kiwi #ext-photo {
    cursor:pointer; cursor: hand;
    width: 50%;
    text-align: center;
    float:left;
    padding-left: 10px;
}


#kiwi .ext-photo img{
    display: block;
    margin-left: auto;
    margin-right: auto

}

.webcam_nick_subscriber{
    float: right;
}

.meicon {
    min-width: 20px;
}

#kiwi .ext-webcam span{
    clear:both;
    font-weight: bold;
}


#kiwi .memberlists {
    overflow-x: hidden;
}


.user-tooltip {
    padding: 2px 6px !important;
    font-size: 1.1em !important;
}

#kiwi {background: #fff}